/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
    --mat-toolbar-background: #424242;
    --mat-toolbar-color: #fff;
}

body.dark-theme {
    background: #303030;
    color: #fff;
}

body.dark-theme .mat-card {
    background: #424242;
    color: #fff;
}